body {
	background-color: #576D94;
	font-family: Courier New, Courier, monospace;
}
a {
	text-decoration:none;
    color:black
}
a:visited{
    color:black
}
a:hover{
    color:yellow
}
#Center {
    text-align:center;
}
#MainImage {
	padding-top: 20px;
	padding-left:20px;
}
#scl {
	display:inline;
	clear: left;
	float: right;
	margin-top: -195px;
	padding-right:20px;
	
}
#banner {
	text-align:center;
	margin-top: -200px;
	margin-bottom:70px;
	
}
#ParagraphTitle {
	text-decoration:underline;
	margin-top:100px;
	font-size:150%;
	text-align:center;
}
#Main {
	margin-left:15%;
	margin-right:15%;
	font-size:150%;
	margin-top:50px;
}
#CostImage {
	margin-left:500px;
}
#MainVid {
	text-align:center;
	margin-top:75px;
}
#SubTitle{
	text-decoration:underline;
	margin-left:15%;
    margin-bottom:-50px;
}
#Buttons {
	display:inline;
	text-align:center;
}
#b1 {
    margin-left:332px;
}
#b2 {
	margin-left:650px;
	margin-bottom:-150px;
}
#b3{
	margin-right:650px;
}
#Proto{
	text-align:left;
	margin-bottom: -400px;
	margin-left: 100px;
}
#b4{
	margin-left:300px;
	margin-bottom:-150px;
}
#b5{
	margin-right:300px;
}
#m {
	margin-top:-100px;
	margin-bottom:10px;
}
#Cost {
	margin-top:-280px;
}
#AboutUs  {
	display:inline;
	clear: left;
	float: right;
	margin-top:-300px;
}